<!--This file is a comment partial for all article comments-->

<p>
    <!--<strong>Commenter:</strong>-->
    <%= "Commented by: " + comment.commenter + " at " + comment.created_at.change(offset: "+04:00").to_s(:db) %>
</p>

<p>
    <%= comment.body %>
</p>

<p>
    <!--This link sends DELETE/articles/:article_id/comments/:id to Comments
    to find the particular comment to be deleted passing these paramaters-->
    <% begin %>
    <% if current_user.name == comment.commenter %>
    <%= link_to 'Delete', [comment.article, comment],
                method: :delete,
                data: {confirm: 'Are you sure?' } %>
    <% end %>
    <% rescue %>
    <% end %>
</p>