<!--This file is a comment partial for all article comments-->

<p>
    <!--<strong>Commenter:</strong>-->
    <%= "Commented by: " + comment.commenter + " at " + comment.created_at.to_s(:rfc822) %>
</p>

<p>
    <%= comment.body %>
</p>

<p>
    <!--This link sends DELETE/articles/:article_id/comments/:id to Comments
    to find the particular comment to be deleted passing these paramaters-->
    <%= link_to 'Delete Comment', [comment.article, comment],
                method: :delete,
                data: {confirm: 'Are you sure?' } %>
</p>