<!--Put the new comment form with its own partial-->
<%= form_for([@article, @article.comments.build]) do |f| %>
    <p>
        <% begin %>
        <%= f.hidden_field :commenter, :value=> current_user.name %>
        <% rescue %>
        <% end %>

    </p>
    <p>
        <%= f.text_area :body %>
    </p>
    <p>
        <%= f.submit %>
    </p>
<% end %>